<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ This file is part of [SpringAtom] Copyright [kornicameister@gmail.com][2014]                  ~
  ~                                                                                               ~
  ~ [SpringAtom] is free software: you can redistribute it and/or modify                          ~
  ~ it under the terms of the GNU General Public License as published by                          ~
  ~ the Free Software Foundation, either version 3 of the License, or                             ~
  ~ (at your option) any later version.                                                           ~
  ~                                                                                               ~
  ~ [SpringAtom] is distributed in the hope that it will be useful,                               ~
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of                                ~
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                                 ~
  ~ GNU General Public License for more details.                                                  ~
  ~                                                                                               ~
  ~ You should have received a copy of the GNU General Public License                             ~
  ~ along with [SpringAtom].  If not, see <http://www.gnu.org/licenses/gpl.html>.                 ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<fieldset>
    <legend>{{labels.user}}</legend>
    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">
            <span class="">{{labels.username}}</span>
        </label>

        <div class="col-sm-9">
            <input id="username"
                   name="username"
                   class="form-control"
                   placeholder="{{labels.username}}"
                   ng-model="formData.username"
                   ng-maxlength="45"
                   ng-minlength="5"
                   ng-required="true">
        </div>

    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">
            <span class="">{{labels.password}}</span>
        </label>

        <div class="col-sm-9">
            <input id="password"
                   name="password"
                   class="form-control"
                   type="password"
                   placeholder="{{labels.password}}"
                   ng-model="formData.password"
                   ng-maxlength="66"
                   ng-minlength="5"
                   ng-required="true">
        </div>

    </div>
</fieldset>
<fieldset>
    <legend>{{labels.person}}</legend>
    <div class="form-group">
        <label for="firstname" class="col-sm-2 control-label">
            <span class="">{{labels.firstname}}</span>
        </label>

        <div class="col-sm-9">
            <input id="firstname"
                   name="firstname"
                   class="form-control"
                   placeholder="{{labels.firstname}}"
                   ng-model="formData.firstname"
                   ng-maxlength="45"
                   ng-minlength="3"
                   ng-required="true">
        </div>

    </div>
    <div class="form-group">
        <label for="lastname" class="col-sm-2 control-label">
            <span class="">{{labels.lastname}}</span>
        </label>

        <div class="col-sm-9">
            <input id="lastname"
                   name="lastname"
                   class="form-control"
                   placeholder="{{labels.lastname}}"
                   ng-model="formData.lastname"
                   ng-maxlength="45"
                   ng-minlength="3"
                   ng-required="true">
        </div>

    </div>
    <div class="form-group">
        <label for="primarymail" class="col-sm-2 control-label">
            <span class="">{{labels.primarymail}}</span>
        </label>

        <div class="col-sm-9">
            <div class="input-group">
                <input id="primarymail"
                       name="primarymail"
                       class="form-control"
                       type="email"
                       placeholder="{{labels.primarymail}}"
                       ng-model="formData.primarymail"
                       ng-maxlength="45"
                       ng-required="true">
                <span class="input-group-addon">@</span>
            </div>
        </div>

    </div>
</fieldset>