<header id="sg-breadcrumb">
    <ol class="breadcrumb">
        <li>
            <a ui-sref="sg.home">
                <i class="glyphicon glyphicon-home"></i>
            </a>
        </li>
        <li ng-repeat="crumb in vm.crumbs" ng-class="{active: crumb.active}">
            <span ng-switch="crumb.navigable">
                <span ng-switch-when="true">
                    <a ui-sref="{{crumb.state.name}}" ng-if="!crumb.active">{{crumb.label}}</a>
                    <span ng-if="crumb.active">{{crumb.label}}</span>
                </span>
                <span ng-switch-when="false">
                    ...
                </span>
            </span>
        </li>
    </ol>
</header>