/**************************************************************************************************
 * This file is part of [SpringAtom] Copyright [kornicameister@gmail.com][2013]                   *
 *                                                                                                *
 * [SpringAtom] is free software: you can redistribute it and/or modify                           *
 * it under the terms of the GNU General Public License as published by                           *
 * the Free Software Foundation, either version 3 of the License, or                              *
 * (at your option) any later version.                                                            *
 *                                                                                                *
 * [SpringAtom] is distributed in the hope that it will be useful,                                *
 * but WITHOUT ANY WARRANTY; without even the implied warranty of                                 *
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                                  *
 * GNU General Public License for more details.                                                   *
 *                                                                                                *
 * You should have received a copy of the GNU General Public License                              *
 * along with [SpringAtom].  If not, see <http://www.gnu.org/licenses/gpl.html>.                  *
 **************************************************************************************************/

/* auth-widgets*/
.x-auth-widget {
    padding : 10px;
    width   : 400px;
}

.x-auth-widget .x-auth-widget-header {
    display    : block;
    float      : left;
    list-style : none;
    padding    : 0;
    margin     : 5px 10px 0 0;
    border     : 0 solid #CCCCCC;
    background : transparent; /*#EEEEEE */
}

.x-login-form {
    padding  : 20px 20px 20px;
    width    : 390px;
    overflow : hidden;
}

.x-login-form #inputs {
    margin-right : 5%;
    float        : left;
}

.x-login-form #actions {
    overflow : hidden;
}

/* actions defintions */
.auth-action {
    min-width    : 100px;
    margin-right : 20px;
    margin-top   : 15px;
    float        : right;
    display      : inline-block;
}

.auth-action span.label {
    font-weight  : normal;
    margin-right : 5px;
}

.auth-action span.label:after {
    content : ' :: ';
}