/**************************************************************************************************
 * This file is part of [SpringAtom] Copyright [kornicameister@gmail.com][2013]                   *
 *                                                                                                *
 * [SpringAtom] is free software: you can redistribute it and/or modify                           *
 * it under the terms of the GNU General Public License as published by                           *
 * the Free Software Foundation, either version 3 of the License, or                              *
 * (at your option) any later version.                                                            *
 *                                                                                                *
 * [SpringAtom] is distributed in the hope that it will be useful,                                *
 * but WITHOUT ANY WARRANTY; without even the implied warranty of                                 *
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                                  *
 * GNU General Public License for more details.                                                   *
 *                                                                                                *
 * You should have received a copy of the GNU General Public License                              *
 * along with [SpringAtom].  If not, see <http://www.gnu.org/licenses/gpl.html>.                  *
 **************************************************************************************************/

/**************************************************************************************************
 * This file is part of [SpringAtom] Copyright [kornicameister@gmail.com][2013]                   *
 *                                                                                                *
 * [SpringAtom] is free software: you can redistribute it and/or modify                           *
 * it under the terms of the GNU General Public License as published by                           *
 * the Free Software Foundation, either version 3 of the License, or                              *
 * (at your option) any later version.                                                            *
 *                                                                                                *
 * [SpringAtom] is distributed in the hope that it will be useful,                                *
 * but WITHOUT ANY WARRANTY; without even the implied warranty of                                 *
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                                  *
 * GNU General Public License for more details.                                                   *
 *                                                                                                *
 * You should have received a copy of the GNU General Public License                              *
 * along with [SpringAtom].  If not, see <http://www.gnu.org/licenses/gpl.html>.                  *
 **************************************************************************************************/

/**************************************************************************************************
 * This file is part of [SpringAtom] Copyright [kornicameister@gmail.com][2013]                   *
 *                                                                                                *
 * [SpringAtom] is free software: you can redistribute it and/or modify                           *
 * it under the terms of the GNU General Public License as published by                           *
 * the Free Software Foundation, either version 3 of the License, or                              *
 * (at your option) any later version.                                                            *
 *                                                                                                *
 * [SpringAtom] is distributed in the hope that it will be useful,                                *
 * but WITHOUT ANY WARRANTY; without even the implied warranty of                                 *
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                                  *
 * GNU General Public License for more details.                                                   *
 *                                                                                                *
 * You should have received a copy of the GNU General Public License                              *
 * along with [SpringAtom].  If not, see <http://www.gnu.org/licenses/gpl.html>.                  *
 **************************************************************************************************/

section.x-content-header {
    position : relative;
    width    : 99%;
    padding  : 2px;
    height   : 50px;
}

section.x-content-header > * {
    background : none;
    min-height : 100%;
}

section.x-content-header .x-search {
    float        : right;
    width        : 23%;
    margin-right : 5px;
    margin-left  : 40px;
}

.x-search .x-search-form-global {
    border-top-left-radius    : 20%;
    border-bottom-left-radius : 20%;
    margin-bottom             : 6px;
    margin-top                : 6px;
    width                     : 90%;
    float                     : right;
    padding                   : 3px;
    background                : rgba(0, 0, 0, .2);
    box-shadow                : 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
}

/* Form text input */

.x-search .x-search-form-global input {
    border-top-left-radius    : 20%;
    border-bottom-left-radius : 20%;
    width                     : 75%;
    padding                   : 10px 5px;
    float                     : left;
    font-size                 : inherit;
    text-align                : center;
    border                    : 0;
    background                : #EEEEEE;
}

.x-search .x-search-form-global input:focus {
    outline    : 0;
    background : #FFFFFF;
    color      : rgba(0, 17, 255, 0.99);
    box-shadow : 0 0 2px rgba(0, 0, 0, .8) inset;
}

.x-search .x-search-form-global button {
    overflow           : visible;
    position           : relative;
    float              : right;
    border             : 0;
    padding            : 0;
    cursor             : pointer;
    width              : 18%;
    height             : 40px;
    color              : #FFFFFF;
    text-transform     : uppercase;
    border-right-color : rgba(17, 145, 255, 0.9);
    border-radius      : 20%;
    text-shadow        : 0 -1px 0 rgba(0, 0, 0, .3);
}

.x-search .x-search-form-global button:hover {
    border-right-color : rgba(0, 17, 255, 0.8);
}

.x-search .x-search-form-global button:active,
.x-search .x-search-form-global button:focus {
    border-right-color : rgba(17, 145, 255, 0.8);
    outline            : 0;
}

.x-search .x-search-form-global button:before {
    /* left arrow */
    content      : '';
    position     : absolute;
    border-width : 8px 8px 8px 0;
    border-style : solid solid solid none;
    border-color : transparent #000000 transparent;
    top          : 12px;
    left         : -6px;
}

.x-search .x-search-form-global button:hover:before {
    border-right-color : rgba(0, 17, 255, 0.62);
    zoom               : 1;
}

.x-search .x-search-form-global button:focus:before,
.x-search .x-search-form-global button:active:before {
    border-right-color : rgba(17, 145, 255, 0.62);
}

.x-search .x-search-form-global button::-moz-focus-inner {
    border  : 0;
    padding : 0;
}

section.x-content-header .x-breadcrumb {
    float          : left;
    width          : 72%;
    border         : 2px solid #000000;
    margin-left    : 10px;
    text-align     : left;
    vertical-align : middle;
}

.x-breadcrumb .x-breadcrumb-element {

}

.x-breadcrumb .x-crumb {

}

.x-breadcrumb .x-breadcrumb-connector {

}
