/**************************************************************************************************
 * This file is part of [SpringAtom] Copyright [kornicameister@gmail.com][2013]                   *
 *                                                                                                *
 * [SpringAtom] is free software: you can redistribute it and/or modify                           *
 * it under the terms of the GNU General Public License as published by                           *
 * the Free Software Foundation, either version 3 of the License, or                              *
 * (at your option) any later version.                                                            *
 *                                                                                                *
 * [SpringAtom] is distributed in the hope that it will be useful,                                *
 * but WITHOUT ANY WARRANTY; without even the implied warranty of                                 *
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                                  *
 * GNU General Public License for more details.                                                   *
 *                                                                                                *
 * You should have received a copy of the GNU General Public License                              *
 * along with [SpringAtom].  If not, see <http://www.gnu.org/licenses/gpl.html>.                  *
 **************************************************************************************************/

@charset "UTF-8";
@font-face {
    font-family : "Consolas";
    font-style  : normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display : block
}

html, body {
    width      : 100%;
    height     : 100%;
    padding    : 0;
    margin     : 0;
    overflow-x : hidden;
}

body {
    background-color : #eeeeee;
    font-size        : 14px;
    line-height      : 22px;
    color            : #333333;
}

h1, h2, h3, h4, h5, h6 {
    line-height : 1;
    color       : #333300;
    font-weight : bold;
    margin      : 20px 0 10px 0;
}

h1, h2, h3 {
    font-size : 18px;
}

h4, h5, h6 {
    font-size : 16px;
}

p {
    margin : 0 0 10px 0;
}

a, a:link, a:active, a:visited, a:hover {
    color           : #333333;
    text-decoration : underline;
}

#page nav {
    display : none;
}

div.content-wrapper {
    min-height : 100%;
    height     : 100%;
    width      : 100%;
    position   : relative;
}

#page .content-wrapper {
    background-color : rgba(0, 17, 255, 0.20);
}

div.content {
    position           : relative;
    margin             : 10px;
    clear              : both;
    height             : 77%;
    overflow-y         : hidden;
    padding            : 15px 15px 30px; /* Height of the footer */
    background         : rgba(255, 255, 255, 0.9);
    border             : 0;
    border-radius      : 24px;
    cursor             : pointer;
    -webkit-box-shadow : inset 2px 2px 2px 2px #00a2d3, 0 10px rgba(255, 255, 255, 0.1);
    box-shadow         : inset 2px 2px 2px 2px #00a2d3, 0 10px rgba(255, 255, 255, 0.1);
}

header.main, footer.main {
    -moz-box-shadow    : 0 1px 5px rgba(34, 34, 34, 0.5);
    -webkit-box-shadow : 0 1px 5px rgba(34, 34, 34, 0.5);
    box-shadow         : 0 1px 5px rgba(34, 34, 34, 0.5);
    font-size          : 16px;
    font-weight        : bold;
    color              : #ffffff;
    text-align         : center;
    clear              : both;
    height             : 5%;
}

header.main {
    background : #363636;
    background : -o-linear-gradient(top, #363636, #246485);
    background : -ms-linear-gradient(top, #363636, #246485);
    background : -moz-linear-gradient(top, #363636, #246485);
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0, #363636), color-stop(1, #246485));
    background : -webkit-linear-gradient(#363636, #246485);
    background : linear-gradient(top, #363636, #246485);
}

footer.main {
    background : #363636;
    background : -o-linear-gradient(top, #246485, #363636);
    background : -ms-linear-gradient(top, #246485, #363636);
    background : -moz-linear-gradient(top, #246485, #363636);
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0, #246485), color-stop(1, #363636));
    background : -webkit-linear-gradient(#246485, #363636);
    background : linear-gradient(top, #246485, #363636);
}

footer.main {
    margin-top : 5px;
}

header.main {
    margin-bottom : 5px;
}

header.main p, footer.main p {
    display     : block;
    position    : relative;
    float       : left;
    margin-left : 5%;
    margin-top  : .5%;
}

div.content section p:last-child {
    margin-bottom : 0
}

/*icon blue*/
.fa-color {
    color : rgba(58, 255, 245, 0.62);
}

.fa-color-black {
    color : rgba(0, 0, 0, 0.62);
}

/*tooltip*/
.tooltip {
    background-color   : #000000;
    border             : 1px solid #ffffff;
    padding            : 10px 15px;
    width              : 200px;
    display            : none;
    color              : #ffffff;
    text-align         : left;
    font-size          : 12px;
    /* outline radius for mozilla/firefox only */
    -moz-box-shadow    : 0 0 10px #000000;
    -webkit-box-shadow : 0 0 10px #000000;
}

div.x-clear {
    clear       : both;
    height      : 0;
    line-height : 0;
    visibility  : hidden;
}

.x-hidden {
    display : none;
}