/**************************************************************************************************
 * This file is part of [SpringAtom] Copyright [kornicameister@gmail.com][2013]                   *
 *                                                                                                *
 * [SpringAtom] is free software: you can redistribute it and/or modify                           *
 * it under the terms of the GNU General Public License as published by                           *
 * the Free Software Foundation, either version 3 of the License, or                              *
 * (at your option) any later version.                                                            *
 *                                                                                                *
 * [SpringAtom] is distributed in the hope that it will be useful,                                *
 * but WITHOUT ANY WARRANTY; without even the implied warranty of                                 *
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                                  *
 * GNU General Public License for more details.                                                   *
 *                                                                                                *
 * You should have received a copy of the GNU General Public License                              *
 * along with [SpringAtom].  If not, see <http://www.gnu.org/licenses/gpl.html>.                  *
 **************************************************************************************************/

.x-modal {
    position              : absolute;
    padding               : 5px;
    display               : none;
    background-color      : #EEEEEE;
    border-radius         : 10px;
    -moz-border-radius    : 10px;
    -webkit-border-radius : 10px;
    -moz-box-shadow       : 2px 2px 2px 2px #00A2D3, 0 10px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow    : 2px 2px 2px 2px #00A2D3, 0 10px rgba(255, 255, 255, 0.1);
    box-shadow            : 2px 2px 2px 2px #00A2D3, 0 10px rgba(255, 255, 255, 0.1);
}

.x-modal:before {
    display : none;
}

a.modalCloseImg {
    background : url('../../images/modals/x-button.png') no-repeat; /* adjust url as required */
    width      : 25px;
    height     : 29px;
    display    : inline;
    z-index    : 3200;
    position   : absolute;
    top        : -15px;
    right      : -18px;
    cursor     : pointer;
}
