/**************************************************************************************************
 * This file is part of [SpringAtom] Copyright [kornicameister@gmail.com][2013]                   *
 *                                                                                                *
 * [SpringAtom] is free software: you can redistribute it and/or modify                           *
 * it under the terms of the GNU General Public License as published by                           *
 * the Free Software Foundation, either version 3 of the License, or                              *
 * (at your option) any later version.                                                            *
 *                                                                                                *
 * [SpringAtom] is distributed in the hope that it will be useful,                                *
 * but WITHOUT ANY WARRANTY; without even the implied warranty of                                 *
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                                  *
 * GNU General Public License for more details.                                                   *
 *                                                                                                *
 * You should have received a copy of the GNU General Public License                              *
 * along with [SpringAtom].  If not, see <http://www.gnu.org/licenses/gpl.html>.                  *
 **************************************************************************************************/

.x-wizard {
    position              : relative;
    display               : block;
    margin                : 0;
    padding               : 5px;
    overflow              : visible;
    width                 : 980px; /* */
    -moz-border-radius    : 10px;
    -webkit-border-radius : 10px;
}

.x-wizard .x-wizard-steps {
    display : block;
    margin  : 0;
}

.x-wizard .x-wizard-steps .x-wizard-content {
    margin                : 0;
    padding               : 5px;
    border                : 1px solid #CCCCCC;
    font                  : normal 12px Verdana, Arial, Helvetica, sans-serif;
    color                 : #5A5655;
    background-color      : #F8F8F8;
    text-align            : left;
    -webkit-border-radius : 5px;
    -moz-border-radius    : 5px;
    height                : 100%;
}

.x-wizard div.x-wizard-actions {
    margin     : 3px 0;
    padding    : 0;
    height     : 40px;
    text-align : center;
    clear      : both;
}

.x-wizard .x-wizard-steps .stepTitle {
    display               : block;
    position              : relative;
    margin                : 0;
    border                : 1px solid #E0E0E0;
    padding               : 5px;
    font                  : bold 16px Verdana, Arial, Helvetica, sans-serif;
    color                 : #5A5655;
    clear                 : both;
    text-align            : left;
    z-index               : 88;
    -webkit-border-radius : 5px;
    -moz-border-radius    : 5px;
}

.x-wizard .x-wizard-steps {
    background : #E0E0E0;
}

.stepTitle {
    background : #00A2D3 !important;
}

.x-wizard ul.x-wizard-header {
    position   : relative;
    display    : block;
    float      : left;
    list-style : none;
    padding    : 0;
    margin     : 5px 10px 0 0;
    border     : 0 solid #CCCCCC;
    background : transparent; /*#EEEEEE */;
    min-height : 250px;
}

.x-wizard ul.x-wizard-header li {
    position : relative;
    display  : block;
    margin   : 0;
    padding  : 3px 0;
    float    : left;
    clear    : both;
}

/* x-wizard-header Element Style */
.x-wizard ul.x-wizard-header li span {
    display               : block;
    position              : relative;
    float                 : left;
    margin                : 0;
    padding               : 3px;
    height                : 70px;
    width                 : 240px;
    text-decoration       : none;
    outline-style         : none;
    -moz-border-radius    : 5px;
    -webkit-border-radius : 5px;
    z-index               : 99;
}

.x-wizard ul.x-wizard-header li span .stepNumber {
    position   : relative;
    float      : left;
    width      : 30px;
    text-align : center;
    padding    : 0 5px 5px;
    font       : bold 45px Verdana, Arial, Helvetica, sans-serif;
}

.x-wizard ul.x-wizard-header li span .stepDesc {
    position   : relative;
    display    : block;
    float      : left;
    text-align : left;
    padding    : 5px;
    width      : 70%;
    font       : bold 20px Verdana, Arial, Helvetica, sans-serif;
}

.x-wizard ul.x-wizard-header li span .stepDesc small {
    font : normal 12px Verdana, Arial, Helvetica, sans-serif;
}

.x-wizard ul.x-wizard-header li span.selected {
    color              : #F8F8F8;
    background         : #00A2D3;
    border             : #00A2D3;
    cursor             : text;
    -moz-box-shadow    : 1px 5px 10px #888888;
    -webkit-box-shadow : 1px 5px 10px #888888;
    box-shadow         : 1px 5px 10px #888888;
}

.x-wizard ul.x-wizard-header li span.selected:hover {
    color      : #F8F8F8;
    background : #535497;
}

.x-wizard ul.x-wizard-header li span.done {
    position   : relative;
    color      : #FFFFFF;
    background : #000CC6;
    border     : 1px solid #000CC6;
    z-index    : 99;
}

.x-wizard ul.x-wizard-header li span.done:hover {
    color      : #5A5655;
    background : #000CC6;
    border     : 1px solid #5A5655;
}

.x-wizard ul.x-wizard-header li span.disabled {
    color      : #CCCCCC;
    background : #F8F8F8;
    border     : 1px solid #CCCCCC;
    cursor     : text;
}

.x-wizard ul.x-wizard-header li span.disabled:hover {
    color      : #CCCCCC;
    background : #F8F8F8;
}

.x-wizard ul.x-wizard-header li span.enabled {
    position   : relative;
    color      : #FFFFFF;
    background : #0CC600;
    border     : 1px solid #008002;
    z-index    : 99;
}

.x-wizard ul.x-wizard-header li span.error {
    color      : #6C6C6C !important;
    background : #F08F75 !important;
    border     : 1px solid #FB3500 !important;
}

.x-wizard ul.x-wizard-header li span.error:hover {
    color : #000000 !important;
}

.x-wizard ul.x-wizard-header li i {
    position : relative;
    display  : inline-block;
}

.x-wizard .x-wizard-action {
    display               : block;
    float                 : right;
    margin                : 5px 3px 0 3px;
    padding               : 5px;
    text-decoration       : none;
    text-align            : center;
    font                  : bold 13px Verdana, Arial, Helvetica, sans-serif;
    width                 : 100px;
    color                 : #FFFFFF;
    outline-style         : none;
    background-color      : #5A5655;
    border                : 1px solid #5A5655;
    -moz-border-radius    : 5px;
    -webkit-border-radius : 5px;
}

.x-wizard .x-wizard-dynamic-action {
    width : auto !important;
}

.x-wizard .buttonFinish,
.x-wizard .buttonCancel,
.x-wizard .buttonPrevious,
.x-wizard .buttonNext, {
}

.x-wizard .buttonDisabled {
    color            : #F8F8F8 !important;
    background-color : #CCCCCC !important;
    border           : 1px solid #CCCCCC !important;
    cursor           : text;
}

.x-wizard .buttonCancel {
    color : #FF000E;
}