<div class="btn-group-lg" ng-show="actions">
    <button ng-repeat="act in actions"
            id="{{act.id}}"
            ng-click="act.handler($event)"
            type="submit"
            role="link"
            name="{{act.eventName}}"
            class="{{act.iconClass}}"
            title="{{act.label}}"
            ng-class="{disabled:!helper.isEnabled(act)}"
            ng-show="act.visible">
        <i ng-show="act.eventIconClass" class="{{act.eventIconClass}}" role="presentation"></i>
    </button>
</div>


