<div class="alert alert-info alert-dismissible" ng-class="{hidden: bindErrors.length === 0}" role="alert">
    <button type="button" class="close" ng-click="closeNBOX($event)">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">{{'button.close'|translate}}</span>
    </button>
    <div class="panel-heading">
        {{'wizard.notificationPromptMessage'|translate}}
    </div>
    <div class="list-group">
        <a href="#" class="list-group-item" ng-class="br.errClass" ng-repeat="br in bindErrors">
            <h6 class="list-group-item-heading">{{br.severity}}</h6>
				<span class="list-group-item-text">
					{{br.text}}
					<span ng-show="br.rejectedValue">{{br.rejectedValue}}</span>
				</span>
        </a>
    </div>
</div>
