*.class
target/*
logs/*


# Package Files #
*.jar
*.war
*.ear

# idea
.idea/*
*.iml

# db
database/**.mwb.bak
database/**.png
database/**.pdf

# tmp
*~*

# SAClient - mock
SAClient/**
src/main/webapp/static/log/**