<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ This file is part of [SpringAtom] Copyright [kornicameister@gmail.com][2013]                  ~
  ~                                                                                               ~
  ~ [SpringAtom] is free software: you can redistribute it and/or modify                          ~
  ~ it under the terms of the GNU General Public License as published by                          ~
  ~ the Free Software Foundation, either version 3 of the License, or                             ~
  ~ (at your option) any later version.                                                           ~
  ~                                                                                               ~
  ~ [SpringAtom] is distributed in the hope that it will be useful,                               ~
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of                                ~
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                                 ~
  ~ GNU General Public License for more details.                                                  ~
  ~                                                                                               ~
  ~ You should have received a copy of the GNU General Public License                             ~
  ~ along with [SpringAtom].  If not, see <http://www.gnu.org/licenses/gpl.html>.                 ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">

    <import resource="org/agatom/springatom/aop/aop.xml"/>
    <import resource="org/agatom/springatom/server/model/ds.xml"/>
    <import resource="org/agatom/springatom/server/populators/populators.xml"/>
    <import resource="org/agatom/springatom/server/model/orm.xml"/>
    <import resource="org/agatom/springatom/server/service/caching.xml"/>
    <import resource="org/agatom/springatom/server/service/transactions.xml"/>
    <import resource="org/agatom/springatom/server/repository/jpa.xml"/>
    <import resource="org/agatom/springatom/security/security.xml"/>

    <context:annotation-config/>
    <context:component-scan base-package="org.agatom.springatom.server">
        <!-- exclude repositories, handled by jpa-->
        <context:exclude-filter type="annotation" expression="org.springframework.data.repository.NoRepositoryBean"/>
        <context:exclude-filter type="annotation"
                                expression="org.springframework.data.repository.RepositoryDefinition"/>
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
        <!-- exclude repositories, handled by jpa-->
    </context:component-scan>

    <bean id="webProperties"
          class="org.agatom.springatom.server.properties.SPropertiesHolder">
        <property name="locations">
            <array>
                <value>classpath:org/agatom/springatom/web/web.properties</value>
                <value>classpath:org/agatom/springatom/webmvc/webmvc.properties</value>
                <value>classpath:org/agatom/springatom/server/database.properties</value>
            </array>
        </property>
    </bean>

    <bean id="autoWirer"
          class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

    <!--jaxb-->
    <bean id="jaxbXMLHelper"
          class="org.agatom.springatom.server.xml.OXMHelper">
        <property name="marshaller" ref="jaxb2Marshaller"/>
        <property name="unmarshaller" ref="jaxb2Marshaller"/>
    </bean>
    <bean id="jaxb2Marshaller"
          class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
        <property name="packagesToScan" value="org.agatom.springatom.server.xml.beans"/>
    </bean>
    <!--jaxb-->
</beans>