<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ This file is part of [SpringAtom] Copyright [kornicameister@gmail.com][2013]                  ~
  ~                                                                                               ~
  ~ [SpringAtom] is free software: you can redistribute it and/or modify                          ~
  ~ it under the terms of the GNU General Public License as published by                          ~
  ~ the Free Software Foundation, either version 3 of the License, or                             ~
  ~ (at your option) any later version.                                                           ~
  ~                                                                                               ~
  ~ [SpringAtom] is distributed in the hope that it will be useful,                               ~
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of                                ~
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                                 ~
  ~ GNU General Public License for more details.                                                  ~
  ~                                                                                               ~
  ~ You should have received a copy of the GNU General Public License                             ~
  ~ along with [SpringAtom].  If not, see <http://www.gnu.org/licenses/gpl.html>.                 ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">

    <import resource="org/agatom/springatom/properties.xml"/>
    <import resource="org/agatom/springatom/web/locale/locale.xml"/>
    <import resource="org/agatom/springatom/aop/aop.xml"/>
    <import resource="org/agatom/springatom/server/model/ds.xml"/>
    <import resource="org/agatom/springatom/server/populators/populators.xml"/>
    <import resource="org/agatom/springatom/server/model/orm.xml"/>
    <import resource="org/agatom/springatom/server/service/caching.xml"/>
    <import resource="org/agatom/springatom/server/service/transactions.xml"/>
    <import resource="org/agatom/springatom/server/repository/JPA.xml"/>
    <import resource="org/agatom/springatom/security/security.xml"/>
    <import resource="org/agatom/springatom/security/acl.xml"/>

    <context:annotation-config/>
    <context:component-scan base-package="org.agatom.springatom.server">
        <!-- exclude repositories, handled by jpa-->
        <context:exclude-filter type="annotation" expression="org.springframework.data.repository.NoRepositoryBean"/>
        <context:exclude-filter type="annotation"
                                expression="org.springframework.data.repository.RepositoryDefinition"/>
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
        <!-- exclude repositories, handled by jpa-->
    </context:component-scan>

    <bean id="jackson2HttpMessageConverter"
          primary="true"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="objectMapper" ref="jackson2ObjectFactoryBean"/>
        <property name="prettyPrint" value="false"/>
    </bean>
    <bean id="jackson2ObjectFactoryBean"
          primary="true"
          class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">
        <property name="failOnEmptyBeans" value="false"/>
        <property name="autoDetectGettersSetters" value="true"/>
        <property name="autoDetectFields" value="true"/>
        <property name="indentOutput" value="false"/>
        <property name="simpleDateFormat" value="YYYY-MM-dd"/>
        <property name="featuresToEnable">
            <array value-type="java.lang.Enum">
                <value>com.fasterxml.jackson.databind.SerializationFeature.WRITE_DATES_AS_TIMESTAMPS</value>
                <value>com.fasterxml.jackson.databind.SerializationFeature.WRITE_DATE_KEYS_AS_TIMESTAMPS</value>
                <value>com.fasterxml.jackson.databind.SerializationFeature.ORDER_MAP_ENTRIES_BY_KEYS</value>
            </array>
        </property>
    </bean>

    <bean id="jodaDtff" class="org.springframework.format.datetime.joda.DateTimeFormatterFactory">
        <property name="pattern" value="YYYY-MM-dd"/>
    </bean>
    <bean id="jodaTff" class="org.springframework.format.datetime.joda.DateTimeFormatterFactory">
        <property name="pattern" value="HH:mm"/>
    </bean>

    <bean id="springAtomConversionService"
          class="org.springframework.format.support.FormattingConversionServiceFactoryBean"
          depends-on="jodaDtff,jodaTff"
          primary="true"
          lazy-init="false">
        <property name="registerDefaultFormatters" value="true"/>
        <property name="formatterRegistrars">
            <set>
                <bean class="org.springframework.format.datetime.joda.JodaTimeFormatterRegistrar">
                    <property name="dateFormatter">
                        <bean factory-bean="jodaDtff" factory-method="createDateTimeFormatter"/>
                    </property>
                    <property name="timeFormatter">
                        <bean factory-bean="jodaTff" factory-method="createDateTimeFormatter"/>
                    </property>
                </bean>
            </set>
        </property>
        <property name="converters">
            <set>
                <bean class="org.agatom.springatom.webmvc.converters.SSecurityAuthorityEnumConverted"/>
                <bean class="org.agatom.springatom.webmvc.converters.StringToUnixTimestampConverter"/>
                <bean class="org.agatom.springatom.webmvc.converters.IntervalToStringConverter"/>
                <bean class="org.agatom.springatom.webmvc.converters.StringAdaptableConverter"/>
                <bean class="org.agatom.springatom.webmvc.converters.CollectionToSizeConverter"/>
            </set>
        </property>
        <property name="formatters">
            <set>
                <bean class="org.springframework.format.datetime.DateFormatter">
                    <property name="pattern" value="YYYY-MM-dd"/>
                </bean>
            </set>
        </property>
    </bean>

    <bean id="persistableToStringGenericConverter"
          class="org.agatom.springatom.server.model.conversion.PersistableToStringGenericConverter"
          lazy-init="false"
          depends-on="springAtomConversionService"/>

    <bean id="autoWirer"
          class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
</beans>