<?xml version="1.0" encoding="UTF-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ This file is part of [SpringAtom] Copyright [kornicameister@gmail.com][2013]                  ~
  ~                                                                                               ~
  ~ [SpringAtom] is free software: you can redistribute it and/or modify                          ~
  ~ it under the terms of the GNU General Public License as published by                          ~
  ~ the Free Software Foundation, either version 3 of the License, or                             ~
  ~ (at your option) any later version.                                                           ~
  ~                                                                                               ~
  ~ [SpringAtom] is distributed in the hope that it will be useful,                               ~
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of                                ~
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                                 ~
  ~ GNU General Public License for more details.                                                  ~
  ~                                                                                               ~
  ~ You should have received a copy of the GNU General Public License                             ~
  ~ along with [SpringAtom].  If not, see <http://www.gnu.org/licenses/gpl.html>.                 ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

    <beans:import resource="org/agatom/springatom/server/model/DataSource.xml"/>

    <!--
    Allows using annotations to secure access to services layer
    -->
    <global-method-security secured-annotations="enabled"
                            pre-post-annotations="enabled"/>

    <!-- static content -->
    <http pattern="/webjars/*" security="none"/>
    <http pattern="/static/*" security="none"/>

    <!-- static content -->
    <http pattern="/**" use-expressions="true">

        <http-basic/>

        <intercept-url pattern="/app*" access="hasAnyRole('ROLE_ADMIN','ROLE_USER')"/>

        <!-- session management -->
        <session-management
                invalid-session-url="/app/session/error/invalid"
                session-authentication-error-url="/app/session/error/authentication"
                session-fixation-protection="migrateSession">

            <concurrency-control max-sessions="1"
                                 error-if-maximum-exceeded="true"
                                 expired-url="/app/session/error/expired"/>
        </session-management>
        <!-- session management -->

    </http>

    <beans:bean id="securedPasswordEncoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <beans:bean id="sUserService"
                depends-on="dataSource"
                class="org.agatom.springatom.server.service.impl.SUserServiceImpl"/>

    <authentication-manager>
        <authentication-provider user-service-ref="sUserService">
            <password-encoder ref="securedPasswordEncoder" base64="true"/>
        </authentication-provider>
    </authentication-manager>

</beans:beans>

