<?xml version="1.0" encoding="UTF-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ This file is part of [SpringAtom] Copyright [kornicameister@gmail.com][2013]                  ~
  ~                                                                                               ~
  ~ [SpringAtom] is free software: you can redistribute it and/or modify                          ~
  ~ it under the terms of the GNU General Public License as published by                          ~
  ~ the Free Software Foundation, either version 3 of the License, or                             ~
  ~ (at your option) any later version.                                                           ~
  ~                                                                                               ~
  ~ [SpringAtom] is distributed in the hope that it will be useful,                               ~
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of                                ~
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                                 ~
  ~ GNU General Public License for more details.                                                  ~
  ~                                                                                               ~
  ~ You should have received a copy of the GNU General Public License                             ~
  ~ along with [SpringAtom].  If not, see <http://www.gnu.org/licenses/gpl.html>.                 ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="restProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="classpath:org/agatom/springatom/rest/rest.properties"/>
    </bean>
    <bean id="restRepositoryConfiguration"
          class="org.springframework.data.rest.core.config.RepositoryRestConfiguration">
        <property name="returnBodyOnCreate" value="#{restProperties['rest.returnBodyOnCreate']}"/>
        <property name="returnBodyOnUpdate" value="#{restProperties['rest.returnBodyOnUpdate']}"/>
        <property name="maxPageSize" value="#{restProperties['rest.maxPageSize']}"/>
        <property name="limitParamName" value="#{restProperties['rest.limitParamName']}"/>
        <property name="pageParamName" value="#{restProperties['rest.pageParamName']}"/>
        <property name="sortParamName" value="#{restProperties['rest.sortParamName']}"/>
        <property name="defaultPageSize" value="#{restProperties['rest.defaultPageSize']}"/>
    </bean>

</beans>