<?xml version="1.0" encoding="UTF-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ This file is part of [SpringAtom] Copyright [kornicameister@gmail.com][2013]                  ~
  ~                                                                                               ~
  ~ [SpringAtom] is free software: you can redistribute it and/or modify                          ~
  ~ it under the terms of the GNU General Public License as published by                          ~
  ~ the Free Software Foundation, either version 3 of the License, or                             ~
  ~ (at your option) any later version.                                                           ~
  ~                                                                                               ~
  ~ [SpringAtom] is distributed in the hope that it will be useful,                               ~
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of                                ~
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                                 ~
  ~ GNU General Public License for more details.                                                  ~
  ~                                                                                               ~
  ~ You should have received a copy of the GNU General Public License                             ~
  ~ along with [SpringAtom].  If not, see <http://www.gnu.org/licenses/gpl.html>.                 ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd
	         http://www.springframework.org/schema/security
	         http://www.springframework.org/schema/security/spring-security.xsd"
             default-lazy-init="true">

    <beans:import resource="org/agatom/springatom/server/model/DataSource.xml"/>

    <!--
    Allows using annotations to secure access to services layer
    -->
    <global-method-security secured-annotations="enabled"
                            authentication-manager-ref="authenticationManager"
                            order="0"
                            proxy-target-class="true"
                            pre-post-annotations="enabled"/>

    <!-- static content is not secured -->
    <http pattern="/webjars/*" security="none"/>
    <http pattern="/static/*" security="none"/>
    <http pattern="/tiles/*" security="none"/>
    <http pattern="/data/*" security="none"/>
    <!-- static content -->

    <http pattern="/**" auto-config="true" use-expressions="true">


        <intercept-url pattern="/app*" access="permitAll()"/>
        <!--<intercept-url pattern="/app/admin*" access="hasRole('ROLE_ADMIN')"/>-->
        <!--<intercept-url pattern="/app/secured*" access="hasAnyRole('ROLE_ADMIN','ROLE_MECHANIC')"/>-->

        <!-- dashboard for clients -->
        <!--<intercept-url pattern="/app/dashboard/*" access="hasAnyRole('ROLE_CLIENT','ROLE_MECHANIC')"/>-->
        <!--<intercept-url pattern="/app/dashboard/garage/*" access="hasAnyRole('ROLE_MECHANIC','ROLE_BOSS')"/>-->
        <!--<intercept-url pattern="/app/manager/*" access="hasRole('ROLE_BOSS')"/>-->

        <!-- login related configuration -->
        <intercept-url pattern="/app/auth*" access="permitAll()"/>
        <form-login login-page="/app/auth/login"
                    authentication-failure-url="/app/auth/failed"
                    login-processing-url="/app/auth/login.do"
                    default-target-url="/app?action=login&amp;status=true"
                    username-parameter="ares"
                    password-parameter="athena"
                    always-use-default-target="false"/>
        <logout logout-url="/app/auth/logout"
                invalidate-session="true"
                delete-cookies="JSESSIONID"
                logout-success-url="/app?action=logout&amp;status=true"/>
        <access-denied-handler error-page="/app/auth/access/denied"/>
        <anonymous enabled="true" granted-authority="ROLE_DATA_ACCESS" key="anonymous"/>
        <remember-me use-secure-cookie="true"
                     user-service-ref="sUserService"
                     services-alias="rememberMeService"
                     token-validity-seconds="120"
                     data-source-ref="dataSource"/>
        <!-- login related configuration -->
    </http>


    <beans:bean id="securedPasswordEncoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
    <beans:bean id="sUserService"
                depends-on="dataSource"
                class="org.agatom.springatom.server.service.impl.SUserServiceImpl"/>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="sUserService">
            <password-encoder ref="securedPasswordEncoder" base64="true"/>
        </authentication-provider>
    </authentication-manager>

</beans:beans>

