<div ng-class="{'col-md-4': !cart.active,'col-md-8':cart.active}">
    <div id="{{cart.car.id}}"
         class="car-cart panel"
         ng-class="{'active panel-primary': cart.active, 'panel-default':!cart.active}">
        <div class="panel-heading">
            <p class="panel-title pull-left">{{cart.car.licencePlate}}</p>

            <div class="resizer">
                <span ng-click="cart.toggleActive()"
                      ng-class="{
                    'glyphicon glyphicon-resize-full': !cart.active,
                    'glyphicon glyphicon-resize-small': cart.active
                }"></span>
            </div>
        </div>
        <div class="panel-body small">
            <p><span class="text-capitalize">{{'model.car.vin' | translate}}</span>{{cart.car.vinNumber}}</p>

            <p><span class="text-capitalize">{{'model.car.bm' | translate}}</span>{{cart.car.brand + ' ' + cart.car.model}}</p>

            <div ng-if="cart.active">
                Some more details about the car to be added later
            </div>
        </div>
    </div>
</div>