/**************************************************************************************************
 * This file is part of [SpringAtom] Copyright [kornicameister@gmail.com][2013]                   *
 *                                                                                                *
 * [SpringAtom] is free software: you can redistribute it and/or modify                           *
 * it under the terms of the GNU General Public License as published by                           *
 * the Free Software Foundation, either version 3 of the License, or                              *
 * (at your option) any later version.                                                            *
 *                                                                                                *
 * [SpringAtom] is distributed in the hope that it will be useful,                                *
 * but WITHOUT ANY WARRANTY; without even the implied warranty of                                 *
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                                  *
 * GNU General Public License for more details.                                                   *
 *                                                                                                *
 * You should have received a copy of the GNU General Public License                              *
 * along with [SpringAtom].  If not, see <http://www.gnu.org/licenses/gpl.html>.                  *
 **************************************************************************************************/

html, body {
    background-color : rgba(49, 43, 44, 0.18);
    width            : 100%;
    height           : 100%;
    overflow         : hidden;
}

/* main container cfg*/

div.sa-container {
    position : relative;
    margin   : 0 auto;
    width    : 99%;
    height   : 99%;
    border   : 2px solid black;
}

div.sa-main-left {
    width : 15%;
}

div.sa-main-center {
    height   : 95%;
    clear    : both;
    overflow : hidden;
}

/* main container cfg*/

div.sa-main-header {
    width    : 99%;
    float    : right;
    border   : 2px solid red;
    height   : 20%;
    position : relative;
}

div.sa-main-footer {
    width    : 99%;
    float    : right;
    border   : 2px solid red;
    height   : 20%;
    position : relative;
}

div.sa-main-content {
    width    : 99%;
    height   : 60%;
    float    : right;
    border   : 2px solid green;
    margin   : 0 auto;
    position : relative;
}

div.sa-main-nav {
    float        : left;
    clear        : right;
    position     : relative;
    width        : 95%;
    margin-right : 5px;
    padding      : 5px;
    font-size    : smaller;
}