/**************************************************************************************************
 * This file is part of [SpringAtom] Copyright [kornicameister@gmail.com][2013]                   *
 *                                                                                                *
 * [SpringAtom] is free software: you can redistribute it and/or modify                           *
 * it under the terms of the GNU General Public License as published by                           *
 * the Free Software Foundation, either version 3 of the License, or                              *
 * (at your option) any later version.                                                            *
 *                                                                                                *
 * [SpringAtom] is distributed in the hope that it will be useful,                                *
 * but WITHOUT ANY WARRANTY; without even the implied warranty of                                 *
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                                  *
 * GNU General Public License for more details.                                                   *
 *                                                                                                *
 * You should have received a copy of the GNU General Public License                              *
 * along with [SpringAtom].  If not, see <http://www.gnu.org/licenses/gpl.html>.                  *
 **************************************************************************************************/

.x-info-page {
    width   : 100%;
    height  : 100%;
    display : block;
}

.x-ip-panel {
    display       : block;
    width         : 90%;
    padding-top   : 10px;
    margin        : 0 auto;
    align-content : center;
}

.x-ip-attr {
    width         : 750px;
    align-content : center;
    display       : flex;
}

.x-ip-attr-value {
    font-weight : lighter;
    font : monospace !important;
}

.x-ip-attr-value i {
    float : right;
}

.x-ip-attr-label {
    font-weight : bolder;
    min-width : 150px;
    color     : #000cc6;
}