<nav id="sg-header" class="navbar navbar-inverse navbar-default navbar-static-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-text">
                <span class="sg-header-state-title">
                    <i class="fa fa-at">{{vm.stateTitle}}</i>
                </span>
            </span>
        </div>

        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!vm.authentication.authenticated">
                    <a title="{{'button.login'|translate}}" ng-click="vm.openLoginDialog()">
                        <i class="glyphicon glyphicon-log-in"></i>&nbsp;{{'button.login'|translate}}
                    </a>
                </li>
                <dropdown-menu btnLabel="{{!vm.authentication.username}}"
                               btnClass="glyphicon glyphicon-user"
                               ng-if="vm.authentication.authenticated"></dropdown-menu>
                <li ng-if="vm.authentication.authenticated">
                    <a title="{{'button.login'|translate}}" login ng-click="vm.openLogoutDialog()">
                        <i class="glyphicon glyphicon-log-out" title="{{'button.logout'|translate}}"></i>
                    </a>
                </li>
            </ul>

        </div>

    </div>
</nav>