<li class="dropdown">
    <a class="dropdown-toggle" role="button" data-toggle="dropdown">
        <i class="{{btnClass}}"></i>&nbsp;{{btnLabel}}&nbsp;
        <span class="badge">{{notifications.length}}</span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" ng-show="userMenu" role="menu">
        <dropdown-menu-item ng-repeat="action in userMenu" ng-switch="action.mode" ng-transclude>
            <li role="presentation" ng-switch-when="viewAction">
                <a id="{{action.id}}" href="{{action.url}}" tabindex="-1" role="menuitem">
                    <i ng-show="action.iconClass" ng-class="action.iconClass"></i>{{action.label}}
                </a>
            </li>
            <li role="presentation" class="divider" ng-switch-when="separatorAction"></li>
			<span ng-switch-when="actionModel">
				<li role="presentation" class="dropdown-header">{{action.label}}</li>
				<li role="presentation" ng-repeat="am in action.content">
                    <a tabindex="-1"
                       role="menuitem"
                       ui-sref="{{am.name}}">
                        <i ng-show="am.iconClass" ng-class="am.iconClass"></i>
                        <i ng-show="!am.iconClass" class="glyphicon glyphicon-tint"></i>
                        {{am.label}}
                    </a>
                </li>
				<li role="presentation" class="divider"></li>
			</span>
        </dropdown-menu-item>
    </ul>
</li>