<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ This file is part of [SpringAtom] Copyright [kornicameister@gmail.com][2014]                  ~
  ~                                                                                               ~
  ~ [SpringAtom] is free software: you can redistribute it and/or modify                          ~
  ~ it under the terms of the GNU General Public License as published by                          ~
  ~ the Free Software Foundation, either version 3 of the License, or                             ~
  ~ (at your option) any later version.                                                           ~
  ~                                                                                               ~
  ~ [SpringAtom] is distributed in the hope that it will be useful,                               ~
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of                                ~
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                                 ~
  ~ GNU General Public License for more details.                                                  ~
  ~                                                                                               ~
  ~ You should have received a copy of the GNU General Public License                             ~
  ~ along with [SpringAtom].  If not, see <http://www.gnu.org/licenses/gpl.html>.                 ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="modal-header dialog-header-prompt">
    <h4 class="modal-title">Nowa marka/model</h4></div>
<div class="modal-body">

    <div class="form-horizontal" role="form">
        <div class="form-group">

            <label for="brandModel" class="col-sm-2 control-label">
                Marka/Model
            </label>

            <div class="col-sm-8">
                <input id="brandModel"
                       type="text"
                       class="form-control"
                       ng-model="bm"
                       typeahead="cm.label for cm in carMasters">
            </div>
        </div>
        <div class="help-block" ng-show="debug">{{bm}}</div>
    </div>

</div>
<div class="modal-footer">
    <div class="btn-toolbar" style="float:right">
        <div class="btn-group">
            <button class="btn btn-default" ng-click="done(bm)" title="Zapisz">
                <i class="fa fa-fw fa-save"></i>
            </button>
            <button class="btn btn-default" ng-click="dismiss()" title="Anuluj">
                <i class="fa fa-fw fa-power-off"></i>
            </button>
        </div>
    </div>
</div>
