<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ This file is part of [SpringAtom] Copyright [kornicameister@gmail.com][2014]                  ~
  ~                                                                                               ~
  ~ [SpringAtom] is free software: you can redistribute it and/or modify                          ~
  ~ it under the terms of the GNU General Public License as published by                          ~
  ~ the Free Software Foundation, either version 3 of the License, or                             ~
  ~ (at your option) any later version.                                                           ~
  ~                                                                                               ~
  ~ [SpringAtom] is distributed in the hope that it will be useful,                               ~
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of                                ~
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                                 ~
  ~ GNU General Public License for more details.                                                  ~
  ~                                                                                               ~
  ~ You should have received a copy of the GNU General Public License                             ~
  ~ along with [SpringAtom].  If not, see <http://www.gnu.org/licenses/gpl.html>.                 ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="container-fluid">

    <div class="panel">
        <div class="panel-heading x-ip-attr-label">{{'sappointment' | translate}}</div>
        <div class="panel-body"
             style="min-height: 500px"
             ng-class="{table:true,'table-responsive':true,'table-bordered': gridOptions.border}"
             ng-grid="gridOptions"></div>
    </div>
    <div class="panel panel-default" ng-show="selectedAppointment !== undefined">
        <div class="panel-heading x-ip-attr-label">{{selectedAppointment.heading}}</div>
        <div class="panel-body">
            <div class="row" ng-repeat="sab in selectedAppointment.body">
                <div class="col-sm-2">{{sab.label}}</div>
                <div class="col-sm-9" tpl="sab.tpl" method="sab.method" value="sab.value" rest-value></div>
            </div>
        </div>
    </div>

</div>